
<%= form_tag(search_page_path, :method => "get",
             class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "search", :class => 'btn btn-dark ml-1',:name => nil%>
    </div>
  </div>
<% end %>


<div class="centeredText mt-3 mb-3" id="siteDescription">
  <p> clothstore </p>
</div>

<div class="list" id="itemList">
  <%= render 'items/list' %>
</div>



