<div id="descriptionInProfile">
  <div class="card" id="profileCard">
    <h5><%= @profile.username %> </h5>
    <p>registered at <br>
      <%= @profile.created_at.strftime("%d-%m-%y") %></p>
  </div>
</div>


<% if @items.length > 0 %>
  <div class="profileItemsList mb-5">
    <%= render'items/list' %>
  </div>
<% else %>
  <div id="nothingStuffHere">
    <h2 style="text-align: center; margin-top: 300px">Nothing there :(</h2>
    <%= link_to 'click on me to see other stufff :`(', root_path, class:'dropdown-item' %>
  </div>

<% end %>

